.entity-media-block {
  position: relative;
}

.entity-media-block a {
  display: block;
}

.entity-media-block h5 {
  background: url(black-50.png);
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: #FFFFFF;
  font-size: 1.16em;
  left: 0;
  padding: 0.4em 1em;
  position: absolute;
  right: 0;
}